body {
  background-color: hsl(29, 53%, 90%);
}

img {
  max-width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}
.div-wrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  margin: 5rem auto;
  padding: 1rem 2rem;
  line-height: 1.1;
  max-width: 36.5rem;
}

.recipe-title h1 {
  font-family: "Young-Serif";
  padding-top: 1rem;
  font-weight: 500;
  font-size: 2rem;
  color: hsl(24, 5%, 18%);
  margin-top: 1rem;
}
.recipe-title p {
  font-family: "Outfit-Regular400";
  font-size: 0.8rem;
  color: hsl(30, 10%, 34%);
  padding-top: 1rem;
}

.bold-li {
  font-weight: bold;
}

.preparation-time {
  background-color: hsl(330, 100%, 98%);
  border-radius: 1rem;
  padding: 1.8rem;
  margin-top: 2rem;
}

.preparation-time h3 {
  font-family: "Outfit-SemiBold600";
  color: hsl(332, 51%, 32%);
}
.preparation-time ul li {
  font-family: "Outfit-Regular400";
  margin: 1rem;
  font-size: 0.8rem;
  color: hsl(30, 10%, 34%);
  line-height: 0.7;
  padding-left: 1rem;
}
.preparation-time li::marker {
  color: hsl(332, 51%, 32%);
  font-size: 0.6rem;
}

.ingredients h2 {
  font-family: "Young-Serif";
  font-weight: 500;
  font-size: 1.4rem;
  color: hsl(14, 45%, 36%);
  margin-top: 1rem;
}

.ingredients ul {
  font-family: "Outfit-Regular400";
  margin: 1rem;
  font-size: 0.8rem;
  color: hsl(30, 10%, 34%);
  line-height: 2;
  list-style-type: square;
}
.ingredients ul li {
  padding-left: 1rem;
}

.ingredients ul li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 0.6rem;
}

.instructions h2 {
  font-family: "Young-Serif";
  font-weight: 500;
  font-size: 1.4rem;
  color: hsl(14, 45%, 36%);
}
.instructions ol {
  font-family: "Outfit-Regular400";
  margin-top: 1rem;
  font-size: 0.8rem;
  color: hsl(30, 10%, 34%);
  line-height: 2;
  margin-left: 1rem;
}
.instructions ol li {
  line-height: 2;
  padding-left: 1rem;
}
.instructions ol li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 0.8rem;
  font-weight: bold;
}

.instructions ol li span {
  font-weight: bold;
}

hr {
  background-color: hsl(30, 18%, 87%);
  border: none;
  height: 0.1rem;
}
